@*Scenario checking reaction*@
@if ((bool)ViewBag.currentScenario)
{
    <div id="infomodal" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Text analyzer</h5>
                </div>
                <div class="modal-body">
                    <p>There is no active scenario. First refer to Scenarios and start one scenario from the list</p>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Scenario List", "Index", "scenario")
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#infomodal').modal(null)
    </script>
}
<script src="~/scripts/plugins/chart.js/Chart.min.js"></script>
<div class="card card-info">
    <div class="card-header card-info">
        <h3>
            Result dashboard
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                @Html.Partial("getPatternRanking.cshtml")
            </div>
            <div class="col-md-6 col-sm-12">
                @Html.Partial("getCategoryRanking.cshtml")

            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-sm-12">
                @Html.Partial("percentageOfWholePatterns.cshtml")
            </div>
            <div class="col-md-6 col-sm-12">
                @Html.Partial("percentageOfCategoryPattern.cshtml")
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                @Html.Partial("getAuthorInterestPatterns.cshtml")
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                @Html.Partial("getRankofPatternsInCategory.cshtml")
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                @Html.Partial("getYearlyPatterns.cshtml")
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                @Html.Partial("getMonthlyPatterns.cshtml")
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                @Html.Partial("getMostDiverseSubject.cshtml")
            </div>
        </div>
    </div>
</div>
