@model discovery.Models.scenario

@{
    bool scenario = (bool)ViewBag.currentScenario;
}
@*Scenario checking reaction*@
@if (scenario)
{
    <div id="infomodal" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Text analyzer</h5>
                </div>
                <div class="modal-body">
                    <p>There is no active scenario. First refer to Scenarios and start one scenario from the list</p>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Scenario List", "Index", "scenario")
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#infomodal').modal(null)
    </script>
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card">
    <div class="card-header card-primary">
        <h4>
            Scenario: <a href="~/scenario/Details/@Model.ID">@((Model == null)? "" : Model.name + "(" + Model.sversion.ToString() + ")")</a>
        </h4>
    </div>
    <div class="card-body">
        <p>
            In order to load dataset in to mining scenario, the follwoing steps must be taken carefully.
        </p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-header bg-gradient-orange">
                        <b>1. Downloadling remote data</b>
                        <i class="fa fa-download float-right"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            Connect to the remote repository using either pre-defined or entered address and donwload data files
                        </p>
                    </div>
                    <div class="card-footer card-link text-center font-weight-bold">
                        <a href="~/import/LoadRemoteFileList">Download</a>
                    </div>
                </div>
            </div>
            @*<div class="col-md-4 col-sm-12">
                <div class="card h-100">
                    <div class="card-header bg-gradient-green">
                        <b>2. Normalizing Data</b>
                        <i class="fab fa-dochub float-right"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            In order to properly load data set, firstly we analyze donwloaded file and normalize them (e.g. decoding, unzip and formatting)
                        </p>
                    </div>
                    @{ 
                        var disable = "";
                        var url = "~/import/LoadRemoteFileList";
                    }
                    @if (Model.status < 2)
                    {
                        disable = "btn disabled";
                        url = "#";
                    }
                    <div class="@(disable) card-footer card-link text-center font-weight-bold">
                        <a href="@(url)" role="button">Normalize</a>
                    </div>
                </div>
            </div>*@
            <div class="col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-header bg-gradient-blue">
                        <b>2. Import Data</b>
                        <i class="fa fa-file-import float-right"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            All the normalized content put into local data warehouse for later analysis.
                        </p>
                    </div>
                    @{
                       var disable = "";
                       var url = "import/ImportData";
                    }
                    @if (Model.status < 2)
                    {
                        disable = "btn disabled";
                        url = "#";
                    }
                    <div class="@(disable) card-footer card-link text-center font-weight-bold">
                        <a class="card-link" href="@(url)">Import</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>