@model List<discovery.Models.filelistview>
@if ((bool)ViewBag.wrongtype)
{
    <div id="infomodal" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Text analyzer</h5>
                </div>
                <div class="modal-body">
                    <p>
                        The selected scenario is configured to load data from <i>@ViewBag.sourcetype</i>. Please go to scenario list for selecting appropriate scenario
                    </p>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Scenario List", "Index", "scenario")
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#infomodal').modal(null)
    </script>
}
<div class="card">
    <div class="card-header">
        <h3> Load remote data files</h3>
    </div>
    <form action="~/import/LoadRemoteFileList" method="post">
        @Html.AntiForgeryToken()
        <div class="card-body">
            <div class="form-group">
                <label class="form-control">Enter url:</label>
                <input type="text" class="form-control" name="url" />
                <span class="text-info">
                    <i>
                        Default url : https://mail.python.org/pipermail/python-dev/
                        <br />Valid formats: txt, csv, gz, zip
                    </i>
                </span>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <input type="submit" value="Load" class="btn-primary" />
            </div>
        </div>
    </form>
</div>
<!-- DataTables -->
<link rel="stylesheet" href="~/scripts/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/scripts/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/scripts//plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Remote File List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="patterntbl" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="select_all" value="1" id="pattern-select-all">
                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        File Name
                    </th>
                    <th>
                        Url
                    </th>
                    <th> Download</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int index = 1;
                    var files = (Model != null) ? Model.ToList() : new List<discovery.Models.filelistview>();
                }
                @foreach (var item in files)
                {
                    <tr>
                        <td></td>
                        <td>
                            @(index++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.filename)
                        </td>
                        <td>
                            <a href="
                            @Html.DisplayFor(modelItem => item.fileurl)
                               ">
                                @Html.DisplayFor(modelItem => item.fileurl)
                            </a>
                        </td>
                        <td>
                            <a href="@(item.fileurl)" title="Download @(item.filename)"><i class="fa fa-save" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@*Download form appears to hit only files fetched from remote url*@
@if (files.Count > 0)
{
    <div class="row">
        <div class="col">
            <form action="~/import/DownloadFiles" method="post" id="downloadfrm">
                <div class="form-group">
                    <input type="submit" value="Download All" class="form-control btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
<script src="~/scripts/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/scripts/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/scripts/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/scripts/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/scripts/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/scripts/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/scripts/plugins/jszip/jszip.min.js"></script>
<script src="~/scripts/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/scripts/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/scripts/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/scripts/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/scripts/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
    $(function () {
        var table = $("#patterntbl").DataTable({
            'columnDefs': [{
                'targets': 0,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    return '<input type="checkbox" name="id[]" value="' + $('<td/>').text(data).html() + '">';
                }
            }],
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            'order': [[1, 'asc']],
            "pageLength": 15,
        });


        // Handle click on "Select all" control
        $('#pattern-select-all').on('click', function () {
            // Get all rows with search applied
            var rows = table.rows({ 'search': 'applied' }).nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#patterntbl tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#pattern-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });

        // Handle form submission event
        $('#downloadfrm').on('submit', function (e) {
            var form = this;

            // Iterate over all checkboxes in the table
            table.$('input[type="checkbox"]').each(function () {
                // If checkbox doesn't exist in DOM
                // if (!$.contains(document, this)) {
                // If checkbox is checked
                if (this.checked) {
                    // Create a hidden element
                    $(form).append(
                        $('<input>')
                            .attr('type', 'hidden')
                            .attr('name', this.name)
                            .val(($(this).parent().next().html()).trim())
                    );
                }
                // }
            });
        });
    });

</script>
